<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->
<f:section name="content">
  <!--TYPO3SEARCH_end-->
  <f:if condition="{news}">
    <f:then>
      <ul class="ce-menu news-list-view" id="news-container-{contentObjectData.uid}">
        <f:for each="{news}" as="newsItem" iteration="iterator">
          <li class="item">
            <h3 class="header">
              <f:link.action class="link" title="{comunicatistampa.newsItem}"  action="show" arguments="{comunicatistampa:newsItem}"> <span itemprop="headline">{newsItem.title}</span></f:link.action>
            </h3>

            <span class="bodytext"><f:format.html>{newsItem.bodytext}</f:format.html></span>

          </li>
        </f:for>
      </ul>
    </f:then>
    <f:else>
      <div class="no-news-found">
        <f:translate key="tx_comunicatistampa_domain_model_comunicatistampa.nonewsfound" />
      </div>
    </f:else>
  </f:if>
  <f:comment>LINK ALLA LSITA COMPLETA DEI COMUNICATI STAMPA
    <f:if condition="{settings.page.list}">
      <f:link.page pageUid="{settings.page.list}" class="button"><f:translate key="tx_comunicatistampa_domain_model_comunicatistampa.label.backlink" /></f:link.page>
    </f:if></f:comment>
  <!--TYPO3SEARCH_begin-->

</f:section>
</html>